.background {
  background-color: #7a7a7a;
}

.wrapper {
  position: relative;
  display: none;
  overflow: scroll;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  background-image: none;
  background-size: auto;
}

.main {
  display: block;
  width: 100%;
  max-width: 600px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.logo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.text {
  margin-bottom: 25px;
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
  text-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.text.bold {
  font-family: 'Aktivgrotesk bold', sans-serif;
  font-size: 18px;
}

.text.contacts {
  margin-top: 0px;
  padding-top: 45px;
}

.input {
  width: 50%;
  min-height: 40px;
  margin-right: 5px;
  margin-bottom: 0px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid #fff;
  border-radius: 0px;
  background-color: transparent;
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #fff;
  font-size: 14px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.button {
  width: 50%;
  margin-left: 5px;
  background-color: #fff;
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #555;
}

.success {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #fff;
  background-color: #eee;
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #000;
  font-size: 14px;
}

.error {
  border: 1px solid #ffa5a5;
  background-color: transparent;
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #ffa5a5;
  font-size: 14px;
}

.test {
  display: none;
}

.video {
  position: absolute;
  z-index: 0;
  display: block;
  width: 100vw;
  height: 80vh;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #000;
  opacity: 0.8;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.video.blur {
  display: none;
  -webkit-filter: blur(15px);
  filter: blur(15px);
}

.body {
  color: #111;
}

._2 {
  display: none;
}

.cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 80vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #000;
}

.cover.cw {
  height: auto;
  float: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.cover.cushman {
  height: auto;
  background-color: #fff;
}

.header {
  width: 100vw;
  max-width: 1280px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.header.black {
  position: absolute;
  z-index: 1;
  display: block;
}

.aboutpreview {
  width: 100vw;
  max-width: 1280px;
  padding: 100px 20px 50px;
}

.aboutpreview.medium {
  padding-top: 60px;
  padding-bottom: 60px;
}

.aboutpreview.last {
  padding-bottom: 100px;
}

.aboutpreview.secondary {
  padding-top: 35px;
  padding-bottom: 35px;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.section.white {
  background-color: transparent;
}

.columnlean {
  padding-right: 0px;
  padding-left: 0px;
}

.columnlean.blackline {
  height: 100%;
  border-left: 1px solid #000;
}

.columnlean.blackline.dg {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-left-color: #fff;
}

.columnlean.dg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.columnlean.dg.left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.columnlean.punchright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columnlean.punchleft {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.textplain {
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #111;
}

.textbigger {
  margin-bottom: 40px;
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #000;
  font-size: 35px;
  line-height: 1.2;
  font-weight: 500;
  text-align: left;
}

.textbigger.inbody {
  margin-bottom: 15px;
}

.solutionspreview {
  width: 100vw;
  max-width: 1280px;
  padding-top: 50px;
}

.solutionsicon {
  width: 100%;
  max-width: none;
}

.solutionsicon.diagram {
  opacity: 0.5;
}

.solutionsicon.diagram.hide {
  display: none;
}

.categoryname {
  display: none;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: 'Aktivgrotesk light', sans-serif;
  text-decoration: none;
}

.solutionshortdescription {
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #000;
}

.column20 {
  padding-right: 20px;
  padding-left: 20px;
  color: #000;
}

.writings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #e6e6e6;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footersections {
  width: 100%;
  max-width: 1280px;
  padding-right: 20px;
  padding-left: 20px;
}

.footerlinks {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #000;
  line-height: 1.4;
}

.mediumpreview {
  width: 100vw;
  max-width: 1280px;
  padding-right: 0px;
  padding-left: 0px;
}

.mediumicon {
  width: 100vw;
}

.mediumicon.line {
  border: 1px solid #000;
}

.mediumname {
  margin-top: 20px;
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #000;
  line-height: 1.3;
  text-decoration: none;
}

.mediumname:hover {
  text-decoration: underline;
}

.mediumdescription {
  margin-top: 20px;
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 1.3;
  text-decoration: none;
}

.mediumdescription:hover {
  text-decoration: none;
}

.linkblock {
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #333;
  text-decoration: none;
}

.linkblock:hover {
  opacity: 1;
  text-decoration: underline;
}

.linkblock.opacity:hover {
  text-decoration: none;
}

.link {
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #000;
  font-size: 35px;
  font-weight: 500;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link2 {
  color: #000;
  text-decoration: underline;
}

.link2:hover {
  text-decoration: none;
}

.buttonlink {
  padding: 20px;
  color: #000;
  text-decoration: underline;
}

.buttonlink:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.about {
  width: 100vw;
  max-width: 1280px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.about.first {
  padding-top: 30px;
}

.about.first.black {
  max-width: none;
  margin-bottom: 0px;
  padding-bottom: 30px;
  background-color: #000;
}

.textnormal {
  margin-top: 0px;
  margin-bottom: 35px;
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 1.2;
}

.textnormal.headerless {
  margin-top: 77px;
}

.textnormal.first {
  margin-top: 0px;
}

.textnormal.solutionnamesmall {
  margin-top: 15px;
  font-size: 14px;
}

.textnormal.two {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  -webkit-column-rule: 1px none #000;
  -moz-column-rule: 1px none #000;
  column-rule: 1px none #000;
}

.textnormal.double {
  position: static;
  font-size: 15px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  -webkit-column-rule: 0px solid #000;
  -moz-column-rule: 0px solid #000;
  column-rule: 0px solid #000;
}

.textnormal.point {
  margin-bottom: 0px;
}

.textnormal.inbody {
  margin-bottom: 5px;
}

.textnormal.hide {
  display: none;
}

.divider {
  width: 100vw;
  height: 1px;
  max-width: 1240px;
  background-color: #eee;
}

.categorystandard {
  width: 100vw;
  max-width: 1280px;
  padding-top: 45px;
}

.clients {
  width: 100vw;
  max-width: 1280px;
  padding-top: 45px;
}

.clients.first {
  padding-top: 90px;
}

.clients.last {
  margin-bottom: 45px;
}

.columnclient {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.client {
  width: 70%;
  min-height: 100px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-family: 'Aktivgrotesk bold', sans-serif;
  color: #000;
  font-size: 20px;
}

.contactsmain {
  width: 100vw;
  max-width: 1280px;
  padding-top: 30px;
  padding-bottom: 45px;
}

.contactsmain.secondary {
  padding-top: 45px;
  padding-bottom: 45px;
}

.twocolumns {
  width: 100vw;
  max-width: 1280px;
  padding-bottom: 45px;
}

.solutionname {
  margin-top: 20px;
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #000;
  font-size: 25px;
  line-height: 1.2;
}

.fourcolumns {
  width: 100vw;
  max-width: 1280px;
}

.fourcolumns.text {
  padding-top: 40px;
  padding-bottom: 80px;
}

.fourcolumns.text.hide {
  display: none;
}

.fourcolumns.text.later {
  display: none;
}

.fourcolumns.later {
  display: none;
}

.withimage {
  width: 100vw;
  max-width: 1280px;
  padding-bottom: 40px;
}

.withimage.later {
  display: none;
}

.calltoaction {
  width: 100vw;
  max-width: 1280px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.testblock {
  width: 100px;
  height: 100px;
  background-color: red;
}

.logo-block {
  position: fixed;
}

.logo-block.casestudy {
  margin-left: 20px;
}

.logo-block.cw {
  position: absolute;
}

.logotrigger {
  width: 1px;
  height: 1px;
  margin-top: 100px;
}

.medium-embed {
  display: none;
}

.introtextvideo {
  display: block;
  background-color: #000;
}

.i {
  display: none;
}

.gallery {
  overflow: hidden;
  width: 100vw;
  max-width: 1280px;
  margin-bottom: 35px;
}

.gallery.centered {
  max-width: 1280px;
}

.gallery.centered.black {
  background-color: #171717;
}

.slider50 {
  display: block;
  height: 500px;
  background-color: transparent;
}

.slide1 {
  margin-right: 40px;
  background-color: transparent;
  background-image: url('../images/0.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide1.concept {
  display: inline-block;
  background-image: url('../images/time-1-5.gif'), -webkit-linear-gradient(270deg, #171717, #171717);
  background-image: url('../images/time-1-5.gif'), linear-gradient(180deg, #171717, #171717);
  background-position: 40% 56%, 0px 0px;
  background-size: 90%, auto;
  background-repeat: no-repeat, repeat;
}

.slide1.result {
  background-image: url('../images/section-c.gif'), -webkit-linear-gradient(270deg, #171717, #171717);
  background-image: url('../images/section-c.gif'), linear-gradient(180deg, #171717, #171717);
  background-position: 50% 50%, 0px 0px;
  background-size: 90%, auto;
  background-repeat: no-repeat, repeat;
}

.slide2 {
  margin-right: 40px;
  background-color: transparent;
  background-image: url('../images/00.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide2.concept {
  background-image: url('../images/time2-2.gif'), -webkit-linear-gradient(270deg, #171717, #171717);
  background-image: url('../images/time2-2.gif'), linear-gradient(180deg, #171717, #171717);
  background-position: 40% 50%, 0px 0px;
  background-size: 90%, auto;
  background-repeat: no-repeat, repeat;
}

.slide2.result {
  background-image: url('../images/timescraper2.gif'), -webkit-linear-gradient(270deg, #171717, #171717);
  background-image: url('../images/timescraper2.gif'), linear-gradient(180deg, #171717, #171717);
  background-position: 50% 50%, 0px 0px;
  background-size: 90%, auto;
  background-repeat: no-repeat, repeat;
}

.slide3 {
  margin-right: 40px;
  background-color: transparent;
  background-image: url('../images/2.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide3.concept {
  background-image: url('../images/cycle-3.gif'), -webkit-linear-gradient(270deg, #171717, #171717);
  background-image: url('../images/cycle-3.gif'), linear-gradient(180deg, #171717, #171717);
  background-position: 50% 50%, 0px 0px;
  background-size: 90%, auto;
  background-repeat: no-repeat, repeat;
}

.slide3.result {
  background-image: url('../images/sercion_dollars2.png'), -webkit-linear-gradient(270deg, #171717, #171717);
  background-image: url('../images/sercion_dollars2.png'), linear-gradient(180deg, #171717, #171717);
  background-position: 50% 50%, 0px 0px;
  background-size: 90%, auto;
  background-repeat: no-repeat, repeat;
}

.slide4 {
  margin-right: 40px;
  background-color: transparent;
  background-image: url('../images/8.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide4.concept {
  background-image: url('../images/cycle-round.gif'), -webkit-linear-gradient(270deg, #171717, #171717);
  background-image: url('../images/cycle-round.gif'), linear-gradient(180deg, #171717, #171717);
  background-position: 50% 50%, 0px 0px;
  background-size: 90%, auto;
  background-repeat: no-repeat, repeat;
}

.slide4.result {
  background-image: url('../images/looking_for_ideas.gif'), -webkit-linear-gradient(270deg, #171717, #171717);
  background-image: url('../images/looking_for_ideas.gif'), linear-gradient(180deg, #171717, #171717);
  background-position: 50% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.slide4.cowo {
  background-image: url('../images/4-copy.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide5 {
  margin-right: 40px;
  background-color: transparent;
  background-image: url('../images/9_.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide5.cowo {
  background-image: url('../images/5_.jpg');
  background-size: cover;
}

.slidermask {
  position: relative;
  overflow: visible;
}

.leftarrow {
  left: -25vw;
  top: 0px;
  bottom: 0px;
  display: block;
  width: 25vw;
  margin-right: -50px;
  padding-right: 0px;
}

.rightrarrow {
  left: 0px;
  display: block;
  width: 75vw;
  cursor: -webkit-grab;
}

.rightrarrow:active {
  width: 100vw;
  cursor: -webkit-grabbing;
}

.navigation {
  display: none;
}

.prev-slide {
  position: static;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #000;
  cursor: pointer;
}

.next-slide {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: red;
  cursor: pointer;
}

._w-slider-arrow-right {
  display: block;
  background-color: red;
}

.lightbox {
  display: block;
  background-color: transparent;
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 1.2;
  text-decoration: none;
  cursor: -webkit-zoom-in;
}

.half {
  margin-top: 45px;
}

.introdiagram {
  position: relative;
  z-index: 0;
  height: 60vh;
  margin-bottom: 0px;
  background-color: transparent;
  color: #000;
}

.diagramtitleleft {
  margin-right: 20px;
  margin-left: 20px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: 'Aktivgrotesk regular', sans-serif;
  color: #fff;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 100;
  text-align: right;
  text-transform: uppercase;
}

.diagramtitleright {
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'Aktivgrotesk regular', sans-serif;
  color: #fff;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 100;
  text-transform: uppercase;
}

.maxedcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.maxedcontainer.left {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.diagramtextright {
  max-width: 550px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 1.2;
  text-align: left;
}

.diagramtextright.number {
  border-bottom: 1px none #000;
  font-family: 'Aktivgrotesk bold', sans-serif;
  color: #fff;
  font-size: 120px;
  text-shadow: 0 0 0 #000;
}

.diagramtextright.p2 {
  display: none;
  margin-right: 20px;
  margin-left: 20px;
}

.diagramtextright.p1 {
  display: none;
  margin-right: 20px;
  margin-left: 20px;
}

.diargramtextleft {
  max-width: 550px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 1.2;
  text-align: right;
}

.diargramtextleft.number {
  font-family: 'Aktivgrotesk bold', sans-serif;
  color: #fff;
  font-size: 120px;
  text-shadow: 0 0 0 #000;
}

.diargramtextleft.landing {
  margin-right: 20px;
  margin-left: 20px;
}

.diargramtextleft.p1 {
  display: none;
  margin-right: 20px;
  margin-left: 20px;
}

.diargramtextleft.p2 {
  display: none;
  margin-right: 20px;
  margin-left: 20px;
}

.point {
  display: block;
  margin-bottom: 5px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.circle {
  width: 30px;
  height: 30px;
  max-height: 30px;
  max-width: 30px;
  min-height: 30px;
  min-width: 30px;
  margin-right: 30px;
  border: 1px solid #000;
  border-radius: 15px;
}

.points {
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 16px;
  border: 1px none #000;
  font-family: 'Aktivgrotesk light', sans-serif;
  font-size: 15px;
}

.item {
  margin-bottom: 5px;
  margin-left: 0px;
  padding-left: 10px;
  line-height: 1.2;
  list-style-type: lower-roman;
}

.item.last {
  margin-bottom: 35px;
}

.dividerwspaces {
  width: 100%;
  height: 1px;
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: #eee;
}

.contactbutton {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #000;
  background-color: transparent;
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #000;
  font-size: 15px;
}

.contactbutton:hover {
  background-color: #000;
  color: #fff;
}

.field {
  margin-bottom: 15px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000;
  font-family: 'Aktivgrotesk light', sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 1.2px;
  font-weight: 400;
}

.field:hover {
  color: #000;
}

.field.part {
  display: inline-block;
  width: 48%;
  margin-right: 2%;
}

.checkbox {
  font-family: 'Aktivgrotesk light', sans-serif;
  font-size: 15px;
}

.checkboxes {
  margin-bottom: 10px;
}

.content {
  width: 100vw;
  max-width: 1280px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.bold {
  font-family: 'Aktivgrotesk medium', sans-serif;
}

.gray {
  display: inline-block;
  color: rgba(0, 0, 0, .5);
}

.image {
  width: 100%;
}

.slide6 {
  margin-right: 40px;
  background-image: url('../images/3.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide6.cowo {
  background-image: url('../images/6_copy.jpg');
  background-size: cover;
}

.slide7 {
  margin-right: 40px;
  background-image: url('../images/7.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide7.cowo {
  background-image: url('../images/7_copy.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide8 {
  margin-right: 40px;
  background-image: url('../images/6.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide8.cowo {
  background-image: url('../images/8_copy.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.slide9 {
  margin-right: 40px;
  background-image: url('../images/1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide9.cowo {
  background-image: url('../images/9_.jpg');
  background-size: 1000px;
}

.black {
  color: #000;
}

.blackcontainer {
  width: 100vw;
  background-color: #171717;
}

.slidedescription {
  display: none;
  margin-right: 0px;
  padding-top: 20px;
  background-color: #fff;
  font-family: 'Aktivgrotesk light', sans-serif;
  font-size: 12px;
  line-height: 1.2;
}

.conceptdiagram {
  width: 90%;
}

.botinterface {
  border: 1px solid #e6e6e6;
}

.description {
  font-family: 'Aktivgrotesk light', sans-serif;
  font-size: 12px;
}

.ifram {
  width: 100vw;
  height: 100vh;
}

.bigtext {
  width: 100vw;
  max-width: 1280px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Larish neue semibold', sans-serif;
  color: #000;
  font-size: 30px;
  line-height: 1.4;
}

.block {
  width: 100vw;
  max-width: 1280px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.titlecw {
  font-family: 'Larish neue semibold', sans-serif;
  color: #000;
  font-size: 30px;
  text-align: center;
}

.titlecw.inbody {
  margin-bottom: 20px;
  text-align: left;
}

.titlecw.whitecw {
  color: #fff;
}

.threecol {
  width: 100vw;
  max-width: 1280px;
  padding-bottom: 100px;
}

.textcw.white {
  color: #fff;
}

.blacksection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

._700 {
  width: 100vw;
  max-width: 700px;
}

.aboutdiagram {
  width: 100%;
  margin-bottom: 50px;
}

.punch {
  position: static;
  display: block;
  width: 100vw;
  max-width: 1280px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.punchwrap {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 80vh;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.verticaldivider {
  width: 1px;
  height: 100%;
  background-color: #fff;
}

.punchright1 {
  position: absolute;
  display: none;
  margin-right: 20px;
  margin-left: 20px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 1.2;
}

.punchright2 {
  position: absolute;
  display: none;
  margin-right: 20px;
  margin-left: 20px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 1.2;
}

.punchleft1 {
  position: absolute;
  right: 0px;
  display: none;
  margin-right: 20px;
  margin-left: 20px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 1.2;
  text-align: right;
}

.puchleft2 {
  display: none;
  margin-right: 20px;
  margin-left: 20px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 48px;
  text-align: right;
}

.contentdiagram {
  width: 100%;
}

.punchright3 {
  position: absolute;
  display: none;
  margin-right: 20px;
  margin-left: 20px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 1.2;
}

.punchright4 {
  position: absolute;
  display: none;
  margin-right: 20px;
  margin-left: 20px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 1.2;
}

.punchright5 {
  position: absolute;
  display: none;
  margin-right: 20px;
  margin-left: 20px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 1.2;
}

.hide {
  display: none;
}

.punchleft2 {
  position: absolute;
  right: 0px;
  display: none;
  margin-right: 20px;
  margin-left: 20px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 1.2;
  text-align: right;
}

.punchleft3 {
  position: absolute;
  right: 0px;
  display: none;
  margin-right: 20px;
  margin-left: 20px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 1.2;
  text-align: right;
}

.punchleft4 {
  position: absolute;
  right: 0px;
  display: none;
  margin-right: 20px;
  margin-left: 20px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 1.2;
  text-align: right;
}

.punchleft5 {
  position: absolute;
  right: 0px;
  display: none;
  margin-right: 20px;
  margin-left: 20px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 1.2;
  text-align: right;
}

html.w-mod-js *[data-ix="slide-from-top"] {
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

html.w-mod-js *[data-ix="appear-25"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="logo-bottom"] {
  opacity: 0;
}

@media (max-width: 991px) {
  .cover {
    height: 70vh;
  }
  .aboutpreview {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .aboutpreview.medium {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .textplain {
    text-align: left;
  }
  .textplain.notabutton {
    font-size: 13px;
    text-align: left;
  }
  .textbigger {
    font-size: 28px;
  }
  .solutionspreview {
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .solutionsicon {
    width: 100%;
    max-width: none;
  }
  .categoryname {
    min-height: 52px;
    padding-left: 10px;
    font-size: 13px;
    line-height: 1.2;
  }
  .solutionshortdescription {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
    line-height: 1.2;
  }
  .column20 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footerlinks {
    font-size: 13px;
    line-height: 1.4;
  }
  .mediumpreview {
    padding-right: 10px;
    padding-left: 10px;
  }
  .mediumname {
    margin-top: 10px;
    font-size: 13px;
  }
  .mediumdescription {
    margin-top: 10px;
    font-size: 11px;
  }
  .link {
    font-size: 28px;
  }
  .buttonlink {
    margin-left: -10px;
    padding: 20px;
    font-size: 13px;
    text-decoration: underline;
  }
  .about {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .about.first {
    padding-bottom: 40px;
  }
  .textnormal {
    margin-top: 30px;
    padding-right: 10px;
    font-size: 15px;
  }
  .textnormal.solutionnamesmall {
    margin-top: 10px;
    padding-left: 10px;
    font-size: 13px;
  }
  .divider {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .categorystandard {
    padding-top: 40px;
  }
  .clients {
    padding-top: 40px;
  }
  .clients.first {
    padding-top: 40px;
  }
  .clients.last {
    margin-bottom: 40px;
  }
  .client {
    width: 75%;
  }
  .contactsmain {
    padding-bottom: 40px;
  }
  .contactsmain.secondary {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .solutionname {
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: #000;
    font-size: 18px;
  }
  .withimage {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 767px) {
  .logo {
    padding-left: 0px;
  }
  .logo.bottom {
    padding-left: 10px;
  }
  .aboutpreview {
    padding: 70px 10px 35px;
  }
  .aboutpreview.medium {
    padding: 40px 0px;
  }
  .aboutpreview.secondary {
    padding: 30px 0px;
  }
  .textplain {
    margin-bottom: 20px;
    padding-left: 10px;
    text-align: center;
  }
  .textplain.notabutton {
    padding-left: 20px;
    text-align: left;
  }
  .textbigger {
    padding-right: 10px;
    padding-left: 10px;
  }
  .solutionspreview {
    padding-top: 0px;
  }
  .categoryname {
    min-height: 0px;
    padding-top: 35px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 13px;
  }
  .solutionshortdescription {
    padding: 10px 10px 15px;
  }
  .column20 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footersections {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footerlinks {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.4;
  }
  .mediumpreview {
    padding-right: 10px;
    padding-left: 10px;
  }
  .mediumname {
    margin-top: 10px;
  }
  .mediumdescription {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .buttonlink {
    padding: 20px;
    float: none;
    clear: none;
    text-align: left;
  }
  .about {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .about.first {
    padding-top: 90px;
    padding-bottom: 0px;
  }
  .textnormal {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
  }
  .textnormal.headerless {
    margin-top: 10px;
  }
  .textnormal.solutionnamesmall {
    margin-bottom: 35px;
    padding-bottom: 0px;
  }
  .categorystandard {
    padding-top: 30px;
  }
  .clients {
    padding-top: 35px;
  }
  .clients.first {
    padding-top: 35px;
  }
  .clients.last {
    margin-bottom: 35px;
  }
  .contactsmain {
    padding-top: 90px;
    padding-bottom: 0px;
  }
  .contactsmain.secondary {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .twocolumns {
    padding-bottom: 0px;
  }
  .solutionname {
    margin-bottom: 30px;
  }
  .fourcolumns {
    padding-bottom: 0px;
  }
  .logo-block {
    position: static;
  }
  .logotrigger {
    display: none;
  }
  .zerocolumn {
    height: 1px;
  }
}

@media (max-width: 479px) {
  .aboutpreview {
    padding-top: 70px;
    padding-bottom: 35px;
  }
  .aboutpreview.medium {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .aboutpreview.secondary {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .textplain.notabutton {
    margin-bottom: 10px;
  }
  .textbigger {
    font-size: 25px;
  }
  .categoryname {
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .solutionshortdescription {
    padding-bottom: 25px;
    font-size: 12px;
  }
  .footerlinks {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 1.4;
  }
  .mediumname {
    font-size: 13px;
  }
  .mediumdescription {
    margin-top: 10px;
    margin-bottom: 35px;
  }
  .link {
    font-size: 25px;
  }
  .link2 {
    font-size: 12px;
  }
  .buttonlink {
    font-size: 12px;
  }
  .about {
    padding-bottom: 0px;
  }
  .textnormal {
    font-size: 14px;
  }
  .textnormal.solutionnamesmall {
    font-size: 12px;
  }
  .clients {
    padding-top: 0px;
  }
  .clients.first {
    padding-top: 0px;
  }
  .clients.last {
    margin-bottom: 30px;
    padding-top: 0px;
  }
  .client {
    width: 90%;
  }
  .solutionname {
    font-size: 12px;
  }
}

@font-face {
  font-family: 'Aktivgrotesk bold';
  src: url('../fonts/AktivGrotesk-Bold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Aktivgrotesk light';
  src: url('../fonts/AktivGrotesk-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-MediumItalic.otf') format('opentype'), url('../fonts/AktivGrotesk-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Aktivgrotesk regular';
  src: url('../fonts/AktivGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Aktivgrotesk medium';
  src: url('../fonts/AktivGrotesk-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-UltraLight.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Larish neue semibold';
  src: url('../fonts/larish_neue_semibold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu regular pro';
  src: url('../fonts/apercu_regular_pro.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}